PUBLIC_VITE_BASE_DOMAIN="https://api.phkhotdeals.com/"
PUBLIC_VITE_BASE_API="https://api.phkhotdeals.com/api/v1/"
PUBLIC_APP_COMMISSION_AMOUNT=2 #dollars
PUBLIC_VITE_FRONT_END_DOMAIN="http://phkhotdeals.com/"

VITE_APP_NAME="PHKHotDeals"
VITE_SESSION_NAME="phkhotdeals_session"
VITE_LOGIN_PATH="/auth/login/"
VITE_LOGOUT_PATH="/auth/logout/"

APP_SESSION_KEY="your_generated_session_key_here" #generate at https://1password.com/password-generator
