PUBLIC_DEV_MACHINE=false
PUBLIC_DEV_LOG_DETAILED=false
PUBLIC_VITE_BASE_DOMAIN="https://api.hotdeals.stafr.pro/"
PUBLIC_VITE_BASE_API="https://api.hotdeals.stafr.pro/api/v1/"
PUBLIC_APP_COMMISSION_AMOUNT=1 #dollars
PUBLIC_VITE_FRONT_END_DOMAIN="http://hotdeals.stafr.pro/"

VITE_APP_NAME="HotDeals"
VITE_SESSION_NAME="hotdeals_session"
VITE_LOGIN_PATH="/auth/login/"
VITE_LOGOUT_PATH="/auth/logout/"

APP_SESSION_KEY="your_generated_session_key_here" #generate at https://1password.com/password-generator
APP_LOG_API_RESPONSES_BY_DEFAULT=false
